<!--Main Navigation-->
<header class="container ">
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 ">
            <h2>Budget</h2>
          <a href="#" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
            <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Dashboard</span>
          </a>
          
        </div>
        
      </div>
    </nav>

  </header>
  
    <main style="margin-top: 58px;">
      <div class="container pt-4">
        <body >

    <div class="container col-sm-12 col-md-12  " style="position: relative;">
        <h4 class="container">Dashboard</h4>
        <p>Lorem ipsum dolor sit amet, </p>
        <div style="width: 70%;height: 10px;" class=" col-sm-12  alert alert-warning d-flex align-items-center rounded-pill d-inline" role="alert">
            <svg class=" bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
            <div class="col-sm-12  d-flex align-items-center">
              <span>You Have</span><span class="fw-bold"> 32 Support Request Pending For Reponse <button type="button" class="btn btn-link btn-sm btn-rounded">
                view
              </button></span>
            </div>
          </div>
        <div class="container col-sm-12  smallmgt">
            <div class="row mt-5" >
              <div class="col-md mt-3" >
                
                <div class="card" style="background-color: rgb(30, 90, 188); width: 240px;height: 150px;">
                    <div class="card-body" style="color: white;">
                        <p>Total users</p>
                        <h2>1,567</h2>
                        <div class="d-flex align-items-center">
                            <span class="badge badge-success rounded-pill d-inline">2.36%<i class="fas fa-arrow-up"></i></span>
                            <div class="ms-1">
                              <p class=" mb-1"> Since last month</p>
                              
                            </div>
                          </div>
                    </div>
                </div>
                
              </div>
              <div class="col-md mt-3">
                <div class="card" style="background-color: rgb(33, 127, 135); width: 240px;height: 150px;">
                    <div class="card-body" style="color: white;">
                        <p>Savings Account</p>
                        <h2>1,500</h2>
                        <div class="d-flex align-items-center">
                            <span class="badge badge-success rounded-pill d-inline">2.36%<i class="fas fa-arrow-up"></i></span>
                            <div class="ms-1">
                              <p class=" mb-1"> Since last month</p>
                              
                            </div>
                          </div>
                    </div>
                </div>
              </div>
              <div class="col-md mt-3">
                <div class="card"style="background-color: rgb(30, 90, 188); width: 240px;height: 150px;">
                    <div class="card-body" style="color: white;" >
                        <p>Savings Account</p>
                        <h2>1,500</h2>
                        <div class="d-flex align-items-center">
                            <span class="badge badge-success rounded-pill d-inline">2.36%<i class="fas fa-arrow-up"></i></span>
                            <div class="ms-1">
                              <p class=" mb-1"> Since last month</p>
                              
                            </div>
                          </div>
                    </div>
                </div>
              </div>
              <div class="col-md mt-3">
                <div class="card"style="background-color: rgb(33, 127, 135); width: 240px;height: 150px;">
                    <div class="card-body" style="color: white;">
                        <p>Savings Account</p>
                        <h2>1,500</h2>
                        <div class="d-flex align-items-center">
                            <span class="badge badge-success rounded-pill d-inline">2.36%<i class="fas fa-arrow-up"></i></span>
                            <div class="ms-1">
                              <p class=" mb-1"> Since last month</p>
                              
                            </div>
                          </div>

                        

                       
                    </div>
                </div>
              </div>
            </div>
          </div>
    </div>
    
<!-- -------------------table -->
<div style="padding: 20px;">
    <h4>Rescent active users</h4>
</div>


<table class="col-sm-12  smallmgt table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>NAME</th>
        <th>PHONE NUMBER</th>
        <th>TRANSACTION CATEGORY</th>
        <th>TRANSACTION AMOUNT</th>
        <th>ACCOUNT TYPE</th>
        <th>BALANCE AMOUNT</th>
        <th></th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="col-sm-12 smallmgt d-flex align-items-center">
            <img
                src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
                />
            <div class="ms-3">
              <p class="fw-bold mb-1">John Doe</p>
              <p class="text-muted mb-0">ID:1234567</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">+91 9876543210</p>
        </td>
        <td>
            <p class="fw-normal mb-1">Income</p>
            <p class="text-muted mb-0">salary</p>
        </td>
        <td>$200</td>
        <td>Savings</td>
        <td>$6000</td>
        <td>
          <button type="button" class="btn btn-link btn-sm btn-rounded">
            view
          </button>
        </td>
      </tr>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img
                src="https://mdbootstrap.com/img/new/avatars/6.jpg"
                class="rounded-circle"
                alt=""
                style="width: 45px; height: 45px"
                />
            <div class="ms-3">
              <p class="fw-bold mb-1">Alex Ray</p>
              <p class="text-muted mb-0">ID:1234567</p>
            </div>
          </div>
        </td>
        <td>
            <p class="fw-normal mb-1">+91 9876543210</p>

        </td>
        <td>
            <p class="fw-normal mb-1">Income</p>
            <p class="text-muted mb-0">salary</p>
        </td>
        <td>$200</td>
        <td>Savings</td>
        <td>$6000</td>
        <td>
          <button
                  type="button"
                  class="btn btn-link btn-rounded btn-sm fw-bold"
                  data-mdb-ripple-color="dark"
                  >
            view
          </button>
        </td>
      </tr>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img
                src="https://mdbootstrap.com/img/new/avatars/7.jpg"
                class="rounded-circle"
                alt=""
                style="width: 45px; height: 45px"
                />
            <div class="ms-3">
              <p class="fw-bold mb-1">Kate Hunington</p>
              <p class="text-muted mb-0">ID:1234567</p>
            </div>
          </div>
        </td>
        <td>
            <p class="fw-normal mb-1">+91 9876543210</p>

        </td>
        <td>
            <p class="fw-normal mb-1">Income</p>
            <p class="text-muted mb-0">salary</p>
        </td>
        <td>$200</td>
        <td>Savings</td>
        <td>$6000</td>
        <td>
          <button
                  type="button"
                  class="btn btn-link btn-rounded btn-sm fw-bold"
                  data-mdb-ripple-color="dark"
                  >
            view
          </button>
        </td>
      </tr>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img
                src="https://mdbootstrap.com/img/new/avatars/7.jpg"
                class="rounded-circle"
                alt=""
                style="width: 45px; height: 45px"
                />
            <div class="ms-3">
              <p class="fw-bold mb-1">Kate Hunington</p>
              <p class="text-muted mb-0">ID:1234567</p>
            </div>
          </div>
        </td>
        <td>
            <p class="fw-normal mb-1">+91 9876543210</p>

        </td>
        <td>
            <p class="fw-normal mb-1">Income</p>
            <p class="text-muted mb-0">salary</p>
        </td>
        <td>$200</td>
        <td>Savings</td>
        <td>$6000</td>
        <td>
          <button
                  type="button"
                  class="btn btn-link btn-rounded btn-sm fw-bold"
                  data-mdb-ripple-color="dark"
                  >
            view
          </button>
        </td>
      </tr>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img
                src="https://mdbootstrap.com/img/new/avatars/7.jpg"
                class="rounded-circle"
                alt=""
                style="width: 45px; height: 45px"
                />
            <div class="ms-3">
              <p class="fw-bold mb-1">Kate Hunington</p>
              <p class="text-muted mb-0">ID:1234567</p>
            </div>
          </div>
        </td>
        <td>
            <p class="fw-normal mb-1">+91 9876543210</p>

        </td>
        <td>
            <p class="fw-normal mb-1">Income</p>
            <p class="text-muted mb-0">salary</p>
        </td>
        <td>$200</td>
        <td>Savings</td>
        <td>$6000</td>
        <td>
          <button
                  type="button"
                  class="btn btn-link btn-rounded btn-sm fw-bold"
                  data-mdb-ripple-color="dark"
                  >
            view
          </button>
        </td>
      </tr>
    </tbody>
    
  </table>
  <div style="text-align: center;padding: 50px;">  <button style="align-items: center;" type="button" class="btn btn-secondary btn-rounded btn-outline-dark">view all</button>
  </div>


  </body>
</div>
</main>
